@media screen
  and (min-width: 320px) {

  .contentHeader {
    background: none;
  }
}

// вступает в силу плваншетная версия 768px.psd //
@media screen
  and (min-width: 667px) {

  .header {

    &__position {
      position: relative;
    }

    &__menu {
      display: block;
      width: 100%;

        &--open {
          position: static;
          display: block;
          z-index: 1000;
            ul {
              position: static;
              margin: 0 auto;
              padding: 15px 0;
              text-align: center;
            }
            li {
              display: inline-block;
              border-bottom: none;
            }
            li:not(:first-of-type) {
              border-top: none;
            }
            li:nth-child(1) {
              margin-right: 55px;
            }
            li:nth-child(2) {
              margin-right: 190px;
            }
            li:nth-child(3) {
              margin-right: 55px;
            }
            li:nth-child(4) {
              margin-right: 0;
            }
            a {
              display: static;
              padding: 0;
              font-size: $fontSize * 1.4;
              line-height: $lineHeight * 2.6;
              font-weight: bold;
              color: map-get($colors, black);
              background: none;
            }
    }
  }    
    button {
      display: none;
    }
  }

  .welcome {
  min-height: 515px;
  background:
    url($path + '/img/sedona-welcome-768(1x).jpg') no-repeat;
  background-position: top;
  background-size: 100%;

      &__title {
        padding-top: 75px;

          span {
            margin-bottom: 50px;
          }

          &--line-1 {
            height: 86px;
            background: url($path + '/img/h2-line1-786(1x).png') no-repeat center center;
          }

          &--line-2 {
            height: 78px;
            background: url($path + '/img/h2-line2-786(1x).png') no-repeat center center;
          }
      }
    
    &__quote {
      height: 80px;
      background: url($path + '/img/h2-quote-786(1x).png') no-repeat center center;
    }
  }

  .contentHeader {
    width: 550px;
    min-height: 215px;
    line-height: $lineHeight * 2.6;
    background: none;
   
    .indexTitle {
      padding: 45px 0 25px 0;
      font-size: $fontSize * 2.1;
    }

    .indexSubTitle {
      padding: 0;
    }
}

}