// variables

$baseFontSize: 62.5%;
$fontSize: 1em;
$size: $fontSize / 10 + em;
$fontFamily: 'PT Sans', sans-serif;
$lineHeight: 10px;
$color: #333;
$color2: #fff;
$color3: #000;
$width: 320px;
$bgColor: #fff;
$bgColor2: #81b3d2;
$path: '../..';