// Header
.header {
  position: fixed;
  @extend %positionAbsoluteCenter;
  width: $width;
  min-height: 55px;
  top: 0;
  z-index: 1000;
  background-color: rgba(map-get($bgColors, white), 0.7);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

    &__position {
      position: relative;
    }

    &__logo {
      position: absolute;
      width: 137px;
      height: 71px;
      @extend %positionAbsoluteCenter;
      transition: transform 0.3s linear;
      background: url($path + '/img/form-logo-triangle.svg') no-repeat;
    
      &:hover {
        transform: scale(1.1) translateY(3px);
      }
    }

    &__menu {
      display: none;

        &--open {
          position: absolute;
          display: none;
          width: 100%;
          z-index: 1000;
          top: 70px;
            ul {
              position: relative;
            }
            li {
              border-bottom: 1px solid #678fa8;
            }
            li:not(:first-of-type) {
              border-top: 1px solid #9ac2db;
            }
            a {
              display: block;
              width: 100%;
              padding: 16px 0;
              font-size: $fontSize * 1.8;
              //line-height: $lineHeight * 4;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              cursor: pointer;
              color: map-get($bgColors, white);
              background: map-get($bgColors, blue);

                &:hover {
                  background: #669ec0;
                }
                &:active {
                  background: #5496bd;
                }
            }
    }
  }
    
    button {
      position: absolute;
      display: block;
      width: 23px;
      height: 22px;
      border: none;
      cursor: pointer;
    }

    &__menuOpenBtn {
      right: 4.7%;
      top: 15px;
      background: url($path + '/img/icon-menu.svg') no-repeat;
    }

    &__menuCloseBtn {
      top: 17px;
      right: 4.7%;
      background: url($path + '/img/icon-cross.svg') no-repeat;
    }
}


@media screen
  and (min-width: $widthPad) {

  .header {

    &__position {
      position: relative;
    }

    &__menu {
      display: block;
      width: 100%;

        &--open {
          position: static;
          display: block;
          z-index: 1000;
            ul {
              position: static;
              margin: 0 auto;
              padding: 15px 0;
              text-align: center;
            }
            li {
              display: inline-block;
              border-bottom: none;
              width: 20%;
            }
            li:not(:first-of-type) {
              border-top: none;
            }
            li:nth-child(1) {
              margin-right: 0;
            }
            li:nth-child(2) {
              margin-right: 50px;
            }
            li:nth-child(3) {
              margin-left: 50px;
            }
            li:nth-child(4) {
              margin-right: 0;
            }
            a {
              display: static;
              padding: 0;
              font-size: $fontSize * 1.4;
              line-height: $lineHeight * 2.6;
              font-weight: bold;
              color: map-get($colors, black);
              background: none;

                &:hover {
                  color: map-get($colors, blue);
                }

                &:active {
                  color: map-get($colors, gray);
                }
            }
    }
  }    
    button {
      display: none;
    }
  }
}

@media screen
  and (min-width: 768px) {

.header {
  &__menu {
    &--open {
          li {
            width: 20%;
          }
          li:nth-child(2) {
            margin-right: 70px;
          }
          li:nth-child(3) {
            margin-left: 70px;
          }
        }
      }
  }
}

@media screen
  and (min-width: $widthDesktop) {

.header {
  width: $widthDesktop;

  &__menu {
    &--open {
          li {
            width: 20%;
          }
          li:nth-child(2) {
            margin-right: 110px;
          }
          li:nth-child(3) {
            margin-left: 110px;
          }
        }
      }
  }
}