@charset "UTF-8";
/*@import "normalize";*/
html, body, ul, ol, li, p, h1, h2, h3, h4, img, fieldset, blockquote {
  margin: 0;
  padding: 0;
}

.header, .header__logo, .sedona-map:before, .contentTitle-h2:after, .wrapper, .contentHeader {
  margin: 0 auto;
}

.header, .header__logo, .sedona-map:before, .contentTitle-h2:after {
  left: 0;
  right: 0;
}

.form label, .form input, .form .sedona-hotels__button {
  font-family: "PT Sans", sans-serif;
  font-size: 1.4em;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

html, body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  background-color: f2f2f2;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  font-size: 62.5%;
}

ul, ol {
  list-style: none;
  border: none;
}

ul, ol, li, p, h1, h2, h3, h4, img, fieldset, blockquote {
  font-weight: normal;
}

.wrapper {
  max-width: 100%;
  /*6px 0 3px -4px #999,
  -6px 0 3px -4px #999; 
  */
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }
}
.header {
  position: fixed;
  width: 100%;
  min-height: 55px;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.header__position {
  position: relative;
}
.header__logo {
  position: absolute;
  width: 137px;
  height: 71px;
  transition: transform 0.3s linear;
  background: url("../../img/form-logo-triangle.svg") no-repeat;
}
.header__logo:hover {
  transform: scale(1.1) translateY(3px);
}
.header__menu {
  display: none;
}
.header__menu--open {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 1000;
  top: 70px;
}
.header__menu--open ul {
  position: relative;
}
.header__menu--open li {
  border-bottom: 1px solid #678fa8;
}
.header__menu--open li:not(:first-of-type) {
  border-top: 1px solid #9ac2db;
}
.header__menu--open a {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #81b3d2;
}
.header__menu--open a:hover {
  background: #669ec0;
}
.header__menu--open a:active {
  background: #5496bd;
}
.header button {
  position: absolute;
  display: block;
  width: 23px;
  height: 22px;
  border: none;
  cursor: pointer;
}
.header__menuOpenBtn {
  right: 4.7%;
  top: 15px;
  background: url("../../img/icon-menu.svg") no-repeat;
}
.header__menuCloseBtn {
  top: 17px;
  right: 4.7%;
  background: url("../../img/icon-cross.svg") no-repeat;
}

@media screen and (min-width: 667px) {
  .header__position {
    position: relative;
  }
  .header__menu {
    display: block;
    width: 100%;
  }
  .header__menu--open {
    position: static;
    display: block;
    z-index: 1000;
  }
  .header__menu--open ul {
    position: static;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
  }
  .header__menu--open li {
    display: inline-block;
    border-bottom: none;
    width: 20%;
  }
  .header__menu--open li:not(:first-of-type) {
    border-top: none;
  }
  .header__menu--open li:nth-child(1) {
    margin-right: 0;
  }
  .header__menu--open li:nth-child(2) {
    margin-right: 50px;
  }
  .header__menu--open li:nth-child(3) {
    margin-left: 50px;
  }
  .header__menu--open li:nth-child(4) {
    margin-right: 0;
  }
  .header__menu--open a {
    display: static;
    padding: 0;
    font-size: 1.4em;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    background: none;
  }
  .header__menu--open a:hover {
    color: #81b3d2;
  }
  .header__menu--open a:active {
    color: #333;
  }
  .header button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__menu--open li {
    width: 20%;
  }
  .header__menu--open li:nth-child(2) {
    margin-right: 70px;
  }
  .header__menu--open li:nth-child(3) {
    margin-left: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
  .header__menu--open li {
    width: 20%;
  }
  .header__menu--open li:nth-child(2) {
    margin-right: 110px;
  }
  .header__menu--open li:nth-child(3) {
    margin-left: 110px;
  }
}
.sedona-map {
  position: relative;
  max-height: 594px;
  overflow: hidden;
}
.sedona-map img {
  width: 100%;
  height: auto;
}

.sedona-map:before {
  content: " ";
  display: block;
  width: 320px;
  height: 30px;
  position: absolute;
  box-shadow: inset 0 10px 7px -3px rgba(0, 1, 1, 0.15);
}

.footer__credits {
  position: absolute;
  width: 100%;
  min-height: 240px;
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 0;
}
.footer__credits__hashtag-link {
  display: block;
  margin: 30px 0 35px;
  font-size: 2.1em;
  line-height: 26px;
  color: #000;
  font-weight: bold;
}
.footer__credits__text {
  font-size: 1.4em;
  line-height: 26px;
  color: #000;
}
.footer__credits__link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 33px;
  margin: 0 10px;
  background-image: url("../../img/sprites/credits/credits.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.footer__credits .gluhanko {
  background-position: -57px -10px;
}
.footer__credits .htmlacademy {
  background-position: -10px -10px;
}

.footer__credits__social-links {
  text-align: center;
  margin-bottom: 40px;
}
.footer__credits__social-links li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socialBtn {
  display: block;
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
  background-image: url("../../img/sprites/socials/sprite.png");
  background-repeat: no-repeat;
}
.socialBtn:hover {
  background-color: #669ec0;
}
.socialBtn:active {
  background-color: #5496bd;
}
.socialBtn-twitter {
  background-position: -55px -3px;
}
.socialBtn-facebook {
  background-position: -1px -7px;
}
.socialBtn-youtube {
  background-position: -116px -3px;
}

@media screen and (min-width: 667px) {
  .sedona-map:before {
    diplay: none;
  }

  .footer__credits {
    min-height: 120px;
  }
  .footer__credits__hashtag-link {
    display: inline-block;
    width: 33%;
    margin: 0;
    line-height: 120px;
  }
  .footer__credits__text {
    display: inline-block;
    width: 33%;
  }

  .footer__credits__social-links {
    display: inline-block;
    width: 33%;
    margin-bottom: 0;
  }
}
.welcome {
  min-height: 390px;
  margin-top: 55px;
  background: url("../../img/sedona-welcome.jpg") no-repeat;
  background-position: top;
  background-size: 100%;
}
.welcome__title {
  padding-top: 45px;
}
.welcome__title span {
  display: block;
  text-indent: -9999px;
}
.welcome__title--line-1 {
  margin-bottom: 10px;
  height: 35px;
  background: url("../../img/text-welcome.svg") no-repeat center center;
  background-size: contain;
}
.welcome__title--line-2 {
  margin-bottom: 60px;
  height: 24px;
  background: url("../../img/text-tothegorgeous.svg") no-repeat center center;
  background-size: contain;
}
.welcome__title--line-3 {
  margin-bottom: 60px;
  height: 50px;
  background: url("../../img/text-sedona.svg") no-repeat center center;
  background-size: contain;
}
.welcome__quote {
  display: block;
  height: 55px;
  background: url("../../img/text-becausecanyon.svg") no-repeat center center;
  text-indent: -9999px;
  background-size: contain;
}

.contentHeader {
  position: relative;
  min-height: 240px;
  line-height: 26px;
  background: #fff linear-gradient(8deg, #81b3d2 8%, rgba(0, 0, 0, 0) 8%), linear-gradient(-8deg, #81b3d2 8%, rgba(0, 0, 0, 0) 8%);
}
.contentHeader .indexTitle {
  padding: 35px 30px;
  font-size: 1.8em;
  color: #000;
  font-weight: bold;
}
.contentHeader .indexSubTitle {
  padding: 0 30px 25px;
  font-size: 1.4em;
}

@media screen and (min-width: 320px) {
  .contentHeader {
    background: none;
  }
}
@media screen and (min-width: 667px) {
  .welcome {
    min-height: 515px;
    background: url("../../img/sedona-welcome-768(1x).jpg") no-repeat;
    background-position: top;
    background-size: 100% auto;
  }
  .welcome__title {
    padding-top: 75px;
  }
  .welcome__title--line-1 {
    height: 50px;
  }
  .welcome__title--line-2 {
    margin-bottom: 45px;
    height: 30px;
  }
  .welcome__title--line-3 {
    margin-bottom: 50px;
    height: 80px;
  }
  .welcome__quote {
    height: 80px;
    background: url("../../img/text-becausecanyon.svg") no-repeat center center;
  }

  .contentHeader {
    width: 550px;
    min-height: 200px;
    line-height: 26px;
    background: none;
  }
  .contentHeader .indexTitle {
    padding: 45px 0 25px 0;
    font-size: 2.1em;
  }
  .contentHeader .indexSubTitle {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .welcome {
    background: url("../../img/sedona-welcome-1200(1x).jpg") no-repeat;
    background-position: 50% 18.1%;
    background-size: 100% auto;
  }

  .indexTitle {
    padding-top: 60px !important;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .welcome {
    background: url("../../img/sedona-welcome-1200(2x).jpg") no-repeat;
    background-size: 100% auto;
  }
}
.sedonaTown {
  min-height: 870px;
  background-color: #81b3d2;
}
.sedonaTown img {
  width: 100%;
  height: auto;
}
.sedonaTown .contentTitle-h2:after {
  content: "— №1 —";
}

.contentTitle-h2 {
  position: relative;
  font-size: 1.8em;
  line-height: 26px;
  padding: 40px 0 30px;
  font-weight: bold;
}
.contentTitle-h2:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
}
.contentTitle-h2--white {
  padding-top: 40px;
  color: #fff;
}
.contentTitle-h2--black {
  color: #000;
}

.contentText {
  padding: 20px 20px 40px;
  font-size: 1.4em;
  line-height: 21px;
}
.contentText--white {
  color: #fff;
}

.sedonaReasons {
  margin-top: -4px;
  padding: 20px 20px 15px;
  min-height: 420px;
  background: #fff;
}
.sedonaReasons__item-apartment {
  padding: 15px 0 15px 50px;
  text-align: left;
  background-image: url("../../img/sprites/reasons/sprite.png");
  background-repeat: no-repeat;
}
.sedonaReasons__title {
  padding: 5px 0 15px 0;
  font-size: 1.8em;
  line-height: 26px;
  color: #000;
  font-weight: bold;
}
.sedonaReasons .contentText {
  padding: 0;
}
.sedonaReasons .home {
  background-position: -60px -362px;
}
.sedonaReasons .gift {
  background-position: -60px -205px;
}
.sedonaReasons .food {
  background-position: -60px -45px;
}

@media screen and (min-width: 667px) {
  .sedonaTown {
    width: 100%;
    min-height: 585px;
    background-color: #81b3d2;
  }
  .sedonaTown header {
    width: 100%;
    max-height: 255px;
    overflow: hidden;
  }
  .sedonaTown__blockTitle {
    display: inline-block;
    width: 33%;
    height: 255px;
  }
  .sedonaTown img {
    width: 67%;
    height: auto;
    float: right;
  }
  .sedonaTown .contentTitle-h2:after {
    content: "— №1 —";
  }

  .contentTitle-h2 {
    width: 59%;
    margin: 0 auto;
    padding: 40px 45px 30px;
    font-size: 2.1em;
  }
  .contentTitle-h2--white {
    padding-top: 40px;
    color: #fff;
  }
  .contentTitle-h2--black {
    color: #000;
  }

  .contentText {
    padding: 20px 17% 0;
    font-size: 1.4em;
    line-height: 21px;
  }
  .contentText--white {
    color: #fff;
  }

  .sedonaReasons {
    margin-top: 0;
    padding: 0;
    min-height: 275px;
    padding-top: 55px;
  }
  .sedonaReasons__item-apartment {
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 0;
    text-align: center;
  }
  .sedonaReasons__item-apartment:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    background: url("../../img/sprites/reasons/sprite-768(1x).png");
    background-repeat: no-repeat;
  }
  .sedonaReasons__title {
    width: 65%;
    margin: 0 auto;
    padding: 110px 0 15px 0;
    font-size: 2.1em;
  }
  .sedonaReasons .contentText {
    width: 67%;
    margin: 0 auto;
    padding: 0;
  }
  .sedonaReasons .home,
  .sedonaReasons .gift,
  .sedonaReasons .food {
    background: none;
  }
  .sedonaReasons .home:before {
    background-position: -335px -35px;
  }
  .sedonaReasons .gift:before {
    background-position: -185px -37px;
  }
  .sedonaReasons .food:before {
    background-position: -35px -35px;
  }
}
@media screen and (min-width: 1200px) {
  .contentTitle-h2 {
    width: 49%;
  }
}
.sedonaBridge {
  min-height: 440px;
  background: #81b3d2;
}
.sedonaBridge img {
  width: 100%;
  height: auto;
}
.sedonaBridge .contentTitle-h2:after {
  content: "— №2 —";
}

@media screen and (min-width: 667px) {
  .sedonaBridge {
    min-height: 255px;
    max-height: 255px;
    overflow: hidden;
  }
  .sedonaBridge__blockTitle {
    display: inline-block;
    width: 33%;
    height: 255px;
  }
  .sedonaBridge img {
    width: 67%;
    height: auto;
    float: left;
  }
}
.sedona-moreAdvantages {
  min-height: 505px;
  margin-top: -4px;
  background-color: #eee;
}
.sedona-moreAdvantages__list {
  margin: 0 20px;
}
.sedona-moreAdvantages__list li:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}
.sedona-moreAdvantages .contentText {
  padding: 20px 15px 30px;
}
.sedona-moreAdvantages .contentTitle-h2 {
  padding-top: 30px;
}
.sedona-moreAdvantages li:first-child .contentTitle-h2:after {
  content: "— №3 —";
}
.sedona-moreAdvantages li:nth-child(2) .contentTitle-h2:after {
  content: "— №4 —";
}
.sedona-moreAdvantages li:last-child .contentTitle-h2:after {
  content: "— №5 —";
}

@media screen and (min-width: 667px) {
  .sedona-moreAdvantages {
    min-height: 255px;
    margin-top: 0;
  }
  .sedona-moreAdvantages__list {
    margin: 0;
    padding-top: 45px;
  }
  .sedona-moreAdvantages__list li {
    display: inline-block;
    width: 33%;
  }
  .sedona-moreAdvantages__list li:not(:last-child) {
    border-bottom: none;
  }
  .sedona-moreAdvantages .contentText {
    padding: 20px 15% 0;
    font-size: 1.4em;
    line-height: 21px;
  }
  .sedona-moreAdvantages .contentTitle-h2 {
    width: 59%;
    margin: 0 auto;
    padding: 40px 45px 30px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .sedona-moreAdvantages .contentTitle-h2 {
    width: 33%;
  }
}
.sedonaHotels {
  min-height: 690px;
  background: #fff;
  margin-bottom: 20px;
}
.sedonaHotels__invite {
  padding: 30px 0 25px;
  font-size: 2.1em;
  line-height: 26px;
  color: #000;
  font-weight: bold;
}
.sedonaHotels .contentText--hotels {
  line-height: 24px;
  padding-top: 0;
  padding-bottom: 30px;
}
.sedonaHotels__title {
  padding: 35px 0;
  font-size: 1.8em;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  background: #766357;
}

.form {
  max-width: 100%;
  margin: 25px 20px 40px;
  text-align: left;
}
.form fieldset {
  position: relative;
  border: none;
}
.form label {
  display: block;
  padding-left: 15px;
}
.form input {
  width: 100%;
  height: 35px;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  margin: 10px 0 25px;
  padding-left: 15px;
  padding-right: 35px;
  box-sizing: border-box;
}
.form input:focus {
  background: white;
}
.form button {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
}
.form__dateBtn {
  background-image: url("../../img/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 3%;
}
.form .btnPosition1 {
  top: 38px;
}
.form .btnPosition2 {
  top: 135px;
}
.form .sedona-hotels__button {
  padding: 0;
  font-size: 2.1em;
  width: 100%;
  height: 55px;
  color: #fff;
  background: #81b3d2;
  text-align: center;
  border: none;
  cursor: pointer;
}
.form .sedona-hotels__button:hover {
  background: #669ec0;
}
.form .sedona-hotels__button:active {
  background: #5496bd;
}

.half-width {
  display: inline-block;
  vertical-align: middle;
  max-width: 130px;
}
.half-width .form__inputField {
  width: 115px;
  text-align: center;
}
.half-width .form__counterBtn {
  background-repeat: no-repeat;
  background-position: 62% 57%;
}
.half-width .form__counterBtn--minus {
  background-image: url("../../img/icon-minus.svg");
  left: 0;
  top: 36px;
}
.half-width .form__counterBtn--plus {
  background-image: url("../../img/icon-plus.svg");
  left: 78px;
  top: 36px;
}

.fieldsetLeft {
  float: left;
}

.fieldsetRight {
  float: right;
}

@media screen and (min-width: 667px) {
  .sedonaHotels {
    position: relative;
    min-height: 290px;
    margin-bottom: 0;
  }
  .sedonaHotels__invite {
    padding: 50px 0 35px;
    font-size: 3em;
  }
  .sedonaHotels .contentText--hotels {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sedonaHotels__title {
    position: absolute;
    width: 565px;
    top: 215px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    padding: 25px 0;
    font-size: 2.1em;
  }

  .form {
    position: absolute;
    top: 290px;
    width: 465px;
    min-height: 295px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 50px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .form fieldset {
    position: relative;
    border: none;
    text-align: right;
  }
  .form label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 13px;
  }
  .form input {
    display: inline-block;
    width: 355px;
    margin: 0;
    padding-left: 15px;
    padding-right: 45px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .form__dateBtn {
    right: 3%;
  }
  .form .btnPosition1 {
    top: 2px;
  }
  .form .btnPosition2 {
    top: 68px;
  }
  .form .sedona-hotels__button {
    padding: 0;
    margin: 0;
  }

  .half-width {
    display: inline-block;
    vertical-align: middle;
    min-width: 49%;
    margin-bottom: 30px;
  }
  .half-width label[for="adults"] {
    padding-right: 33px;
  }
  .half-width .form__inputField {
    width: 115px;
    text-align: center;
  }
  .half-width .form__counterBtn {
    background-repeat: no-repeat;
    background-position: 62% 57%;
  }
  .half-width .form__counterBtn--minus {
    left: 115px;
    top: 3px;
  }
  .half-width .form__counterBtn--plus {
    left: 190px;
    top: 3px;
  }

  .fieldsetLeft {
    float: left;
  }

  .fieldsetRight {
    float: right;
  }
}
