.sedonaTown {
  min-height: 870px;
  background-color: map-get($bgColors, blue);

    & img {
      width: 100%;
      height: auto;
    }

    .contentTitle-h2:after {
      content: "— №1 —";
    }
}

.contentTitle-h2 {
  position: relative;
  font-size: $fontSize * 1.8;
  line-height: $lineHeight * 2.6;
  padding: 40px 0 30px;
  font-weight: bold;

    &:after {
      content: "";
      position: absolute;
      display: block;
      @extend %positionAbsoluteCenter;
      margin-top: 5px;
      font-size: 14px;
      font-weight: normal;
    }

    &--white {
      padding-top: 40px;
      color: map-get($colors, white);
    }

    &--black {
      color: map-get($colors, black);
    }
}

.contentText {
  padding: 20px 20px 40px;
  font-size: $fontSize * 1.4;
  line-height: $lineHeight * 2.1;

    &--white {
      color: map-get($colors, white);
    }
}

.sedonaReasons {
  margin-top: -4px;
  padding: 20px 20px 15px;
  min-height: 420px;
  background: map-get($bgColors, white);

    &__item-apartment {
      padding: 15px 0 15px 50px;
      text-align: left;
      background-image: url($path + "/img/sprites/reasons/sprite.png");
      background-repeat: no-repeat;
    }

    &__title {
      padding: 5px 0 15px 0;
      font-size: $fontSize * 1.8;
      line-height: $lineHeight * 2.6;
      color: map-get($colors, black);
      font-weight: bold;
    }

    .contentText {
      padding: 0;
    }
    .home {
      background-position: -60px -362px;
    }
    .gift {
      background-position: -60px -205px;
    }
    .food {
      background-position: -60px -45px;
    }
}