// hotels reservations
.sedonaHotels {
  min-height: 690px;
  margin-bottom: 20px;
  background: map-get($colors, white);

  &__invite {
    font-size: $fontSize * 2.1;
    font-weight: bold;
    line-height: $lineHeight * 2.6;
    padding: 30px 0 25px;
    color: map-get($colors, black);
  }

  .contentText--hotels {
    line-height: $lineHeight * 2.4;
    padding-top: 0;
    padding-bottom: 30px;
  }

  &__title {
    font-size: $fontSize * 1.8;
    font-weight: bold;
    line-height: $lineHeight * 2.6;
    padding: 35px 0;
    color: map-get($colors, white);
    background: #766357;
  }
}

.form {
  max-width: 100%;
  margin: 25px 20px 40px;
  text-align: left;

  fieldset {
    position: relative;
    border: none;
  }

  &__label {
    display: block;
    padding-left: 15px;
    @extend %commonTextRules;
  }

  &__inputField {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin: 10px 0 25px;
    padding-right: 35px;
    padding-left: 15px;
    border: 2px solid #f2f2f2;
    background: #f2f2f2;
    @extend %commonTextRules;

    &:focus {
      background: white;
    }
  }

  &__dateBtn {
    right: 3%;
    background-image: url($path+"/img/icon-calendar.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @extend %btnClear;
    @extend %formBtn;;
  }

  .btnPosition1 {
    top: 38px;
  }

  .btnPosition2 {
    top: 135px;
  }

  .sedona-hotels__button {
    font-size: $fontSize * 2.1;
    width: 100%;
    height: 55px;
    padding: 0;
    text-align: center;
    color: map-get($bgColors, white);
    background: map-get($bgColors, blue);
    @extend %btnClear;
    @extend %commonTextRules;

    &:hover {
      background: #669ec0;
    }

    &:active {
      background: #5496bd;
    }

    &:focus {
      background: #669ec0;
    }
  }
}

.half-width {
  max-width: 130px;
  @include inline-block();

  .form__inputField {
    width: 115px;
    padding: 0;
    text-align: center;
  }

  .form__counterBtn {
    background-repeat: no-repeat;
    background-position: 62% 57%;
    @extend %btnClear;
    @extend %formBtn;

    &--minus {
      top: 36px;
      left: 0;
      background-image: url($path+"/img/icon-minus.svg");
    }

    &--plus {
      top: 36px;
      left: 78px;
      background-image: url($path+"/img/icon-plus.svg");
    }
  }
}

.fieldsetLeft {
  float: left;
}
.fieldsetRight {
  float: right;
}


@media screen
  and (min-width: $widthPad) {
  .sedonaHotels {
    position: relative;
    min-height: 290px;
    margin-bottom: 0;

    &__invite {
      font-size: $fontSize * 3;
      padding: 50px 0 35px;
    }

    .contentText--hotels {
      padding-top: 0;
      padding-bottom: 0;

      & span {
        display: block;
      }
    }

    &__title {
      font-size: $fontSize * 2.1;
      position: absolute;
      z-index: 5;
      top: 215px;
      right: 0;
      left: 0;
      width: 565px;
      margin: 0 auto;
      padding: 25px 0;
    }
  }

  .form {
    position: absolute;
    z-index: 5;
    top: 290px;
    right: 0;
    left: 0;
    width: 465px;
    min-height: 295px;
    margin: 0 auto;
    padding: 50px;
    background-color: map-get($bgColors, white);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);

    fieldset {
      position: relative;
      text-align: right;
      border: none;
    }

    &__label {
      padding-right: 13px;
      padding-left: 0;
      @include inline-block();
    }

    &__inputField {
      display: inline-block;
      box-sizing: border-box;
      width: 355px;
      margin: 0;
      margin-bottom: 30px;
      padding-right: 45px;
      padding-left: 15px;
    }

    &__dateBtn {
      right: 3%;
    }

    .btnPosition1 {
      top: 2px;
    }

    .btnPosition2 {
      top: 68px;
    }

    .sedona-hotels__button {
      margin: 0;
      padding: 0;
    }
  }

  .half-width {
    min-width: 49%;
    margin-bottom: 30px;
    @include inline-block();

    label[for="adults"] {
      padding-right: 33px;
    }

    .form__inputField {
      width: 115px;
      text-align: center;

      &--left {
      }
    }

    .form__counterBtn {
      background-repeat: no-repeat;
      background-position: 62% 57%;

      &--minus {
        top: 3px;
        left: 117px;
      }

      &--plus {
        top: 3px;
        left: 187px;
      }
    }
  }

  .fieldsetLeft {
    float: left;
  }
  .fieldsetRight {
    float: right;
  }
}