// variables

$baseFontSize: 62.5%;
$fontSize: 1em;
$size: $fontSize / 10 + em;
$fontFamily: "PT Sans", sans-serif;
$lineHeight: 10px;
$colors: (
  white: #fff,
  black: #000,
  gray: #333,
  blue: #81b3d2
);
$bgColors: (
  white: #fff,
  blue: #81b3d2,
  gray: f2f2f2
);
$path: "..";
$width: 100%;
$widthPad: 667px;
$widthDesktop: 1200px;
$inline-block-alignment: middle;